<div id="<%= dom_id house %>">
  <p>
    <strong>Icon:</strong>
    <%= house.icon %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= house.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= house.description %>
  </p>

</div>
