<div id="root">

<div class='sign-links flexer'>
<%= link_to 'LOG IN', new_user_session_path,class:'sign-up a-tag bluer'%> <br>
<%= link_to 'SIGN UP', new_user_registration_path,class:'sign-up a-tag' %>
</div>

<h1>Hello!</h1>


<nav> 
<%= button_to 'Logout', destroy_user_session_path, method: :delete,class: 'login-btn' %>
</nav>